/* blue color pallette 080e21-001f54-034078-1282a2-fefcfb */
/* blue color pallete with orange contrast 080e21-001f54-034078-d1603d-fefcfb*/
body{
     /*font-family: Vollkorn-Medium, serif !important; /* does not work */
     --list-marker-color: /*#ff7a21;*/ #D1603D;
     --list-marker-color-collapsed: #D1603D;
     --background-secondary: #042c52;
}


body.theme-dark{
    --background-primary: #080e21;
}

body.theme-light{
    --background-primary: #C6C6C9;
}

/* @font-face{
    font-family: 'Vollkorn Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Vollkorn Medium'),
     url(Vollkorn-Medium.ttf) format('ttf');
} */