[[language design]]

- checking that the program meets the specification 
	- this helps to prevent mistakes (some very big - Therac 25, Ariane 5)
- often cannot just test as the number of inputs can be infinite or at least too large to test 
- 